.customButton {
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
}

.customButton:hover {
    background-color: darkblue; 
}