.block.slider {
    display: grid;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.block.slider .slider__slide {
    grid-row: 1;
    grid-column: 1;
    scroll-snap-align: start;
    display: none;
    position: relative;
}

.block.slider .slider__slide.slider__slide--active {
    display: block;
}

.block.slider .slider__slide .slider__bg img {
    display: block;
    width: 100%;
    max-height: 400px;
    height: auto;
    object-fit: cover;
}

.block.slider .slider__slide .slider__fg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.75);
    color: white;
    padding: 1.5rem;
}

.slider__navigation-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center, right bottom;
}

.slider__navigation-btn--left {
    background-image: url("../images/left.png");
    left: -16px;
}

.slider__navigation-btn--right {
    background-image: url("../resources/images/right.png");
    right: -16px;
}