.banner-with-background__link {
    text-decoration: none;
}

.banner-with-background__title,
.banner-with-background__sub-title {
    text-align: center;
    padding: 10px;
    color: white;
    margin: 0;
}

